$background-color: #f2f2f7;
$background-color-primary: #ffffff;
$background-color-secondary: #ebebf0;
$color: #1c1c1e;
$color-secondary: #242426;
$border-color: #bcbcc0;
$border-radius: 12px;
$font-color: #ffff;
